* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

body{
    background-image: url("../img/background.png");
    background-repeat:round;
}

form {
	padding: 50px 20px;
	background-color: #fffbc1f3;
	margin: calc(25% + 100px);
	margin-top: 30px;
	padding-top: 20px;
	margin-bottom: 30px
}

h1 {
    font-size: 30px;
	text-align: center;
	padding: 12px;
	color: rgb(160, 160, 160)
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 10px;
	font-size: 13px
}

input[type='submit']{
	background-color: rgb(224, 68, 238);
	color: #fff;
    font-size: 16px;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}